{{ 'custom.css' | asset_url | stylesheet_tag }}
<!-- setting.json 289    "link": "" -->

{%- if section.settings -%}
  <div class="announcement-bar role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ section.shopify_attributes }}>
    <div class="announcement-infos">
      {%- if section.settings.phone != blank -%}
        <div>
          {{ section.settings.phone | escape }}
        </div>
      {%- endif -%}
      {%- if section.settings.shipping != blank -%}
        <div>
          {{ section.settings.shipping | escape }}
        </div>
      {%- endif -%}
      {%- if section.settings.giftcard != blank -%}
        <div>
          {{ section.settings.giftcard | escape }}
        </div>
      {%- endif -%}
    </div>

    {%- if shop.customer_accounts_enabled -%}
      <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="login announcement-link">
        {%- liquid
          if customer
            echo 'customer.account_fallback' | t
          else
            echo 'customer.log_in' | t
          endif
        -%}
      </a>
    {%- endif -%}
  </div>
    {%- endif -%}

    <style>
    @media screen and (max-width: 749px) {
      .announcement-infos{
        flex-direction: column;
      }
      a.login{
        flex-shrink: 1;
      }
    }
    </style>


{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "settings": [
    {
      "type": "text",
      "id": "phone",
      "default": "+4.509.120.6705 (9AM-6PM EST)",
      "label": "Phone Information"
    },
    {
      "type": "text",
      "id": "shipping",
      "default": "Free Shipping On All U.S. Orders",
      "label": "Shipping Information"
    },
    {
      "type": "text",
      "id": "giftcard",
      "default": "Gift Cards",
      "label": "Giftcard Announcement"
    },
    {
      "type": "url",
      "id": "login",
      "label": "Login"
    }
  ]
}
{% endschema %}